@import "../../styles/global.scss";

.bookCover {
  // background-color: $text;
  display: flex;
  padding: 3rem 2rem;
  align-items: center;
  &__left {
    width: 60%;
    &__content {
      // margin: 0 auto;
      height: 550px;
      width: 100%;
      // background-color: $floor;
      &__image {
        margin-bottom: 0;
        width: 90%;
      }
    }
  }
  &__right {
    width: 40%;
    &__title {
      left: 0;
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    &__content {
      font-size: 1.4rem;
    }
  }
}
