@import "../../styles/global.scss";

.bookTrailer {
  width: 100vw;
  //height: 490px;
  margin: 0 auto 2em;

  .trailer {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 75px;
  }

  img {
    max-width: 100%;
  }
}

// @media only screen and (max-width: 640px) {
//   .bookTrailer {
//     // max-width: 90%;
//     // height: auto;

//     .trailer {
//       // display: block;
//       max-width: 90%;
//       height: auto;
//       margin-top: 5rem;
//     }
//   }
//}
