@import "../../styles/global.scss";

.bookTrailer {
  width: 100vw;
  height: 500px;
  // background-color: $floor;

  .trailer {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    // padding-top: 200px;
    margin-top: 60px;
  }
}
