@import "../../styles/global.scss";

.excerpt {
  background-color: rgba(33, 34, 48, 0.5);
  color: $cream;
  text-align: center;
  padding: 2rem 3rem;
  &__title {
    padding: 1rem;
    font-size: 2rem;
  }
  &__content {
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.4rem;
    max-width: 800px;
  }
}
