@import "../../styles/global.scss";

.excerpt {
  // background-color: rgba(33, 34, 48, 0.5);
  // color: $text;
  text-align: center;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .card {
    background-color: rgba(185, 153, 84, 0.15);
    padding: 4rem;
    max-width: 35%;
    max-height: 450px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

    &__title {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: row;

      &__img {
        max-height: 5rem;
        width: auto;
        border-radius: 50%;
        margin-left: 1rem;
        // margin-right: 2rem;
      }

      &__img2 {
        max-height: 2rem;
        width: auto;
        margin-top: 3rem;
        margin-left: -1rem;
      }

      &__txt {
        // padding-bottom: 10px;
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 700;
        text-align: left;
        margin-left: 2rem;
      }
    }
    &__content {
      padding: 1rem;
      margin: 0 auto;
      font-size: 1.5rem;
      line-height: 2.25rem;
      text-align: left;
    }

    &__link {
      padding-left: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}
