$font-family: "Montserrat", sans-serif;
$orange: #F19553;
$text: #DCDCDB;
$dark: #253D66;
$sofa: #B99954;
$floor: #BFC6C4;

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
