$font-family: "Montserrat", sans-serif;
$orange: #f09945;
$cream: #f6f8df;
$dark: #212230;
$sofa: #ca9d3c;
$floor: #cdc7aa;

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
