// @import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");

$font-family2: "Beth Ellen", cursive;
$orange: #f19553;
$text: #dcdcdb;
$dark: #253d66;
$sofa: #b99954;
$floor: #bfc6c4;

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  // background-image: url("../images/paper.png");
}

a {
  text-decoration: none;
  color: inherit;
}

.background-image {
  width: 100%;
  background-size: contain;
  background-repeat: repeat;
  position: absolute;
}
