@import "../../styles/global.scss";

.links {
  width: 100%;
  // text-align: center;
  height: 180px;
  &__content {
    padding: 2rem;
    margin: auto 25rem;
    // height: 80%;
    text-align: center;
    background-color: $dark;
    border-radius: 20px;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
  }
  &__text {
    color: $text;
    font-size: 2rem;
    padding: 2rem;
  }
  &__list {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
  }
  &__button {
    padding: 1rem 1.5rem;
    background-color: $orange;
    border-radius: 1rem;
  }
}

.button__icon {
  width: 40px;
  height: 40px;
}