@import "../../styles/global.scss";

.links {
  width: 100%;
  // text-align: center;
  height: 200px;
  &__content {
    padding: 2rem;
    margin: auto 25rem;
    // height: 80%;
    text-align: center;
    background-color: $dark;
    border-radius: 20px;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
  }
  &__text {
    color: $text;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 2rem;
  }
  &__list {
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-around;

    &__button {
      // width: 5%;
      padding: 1.5rem;
      background-color: $orange;
      border-radius: 1rem;
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      box-shadow: 0px 5px rgb(241, 100, 83);
      transition: transform 250ms;
    }

    &__button:hover {
      background-color: rgb(241, 100, 83);
      box-shadow: 0px 1px rgb(241, 100, 83);
      transform: translateZ(5px);
    }
  }
}

.button__icon {
  max-height: 3rem;
  width: auto;
  padding-right: 1rem;
}
