@import "../../styles/global.scss";

.header {
  text-align: right;
  position: absolute;
  top: 0;
  background-color: $dark;
  width: 100%;
  font-size: 3rem;
  color: $text;
  line-height: 5rem;
  height: 5rem;
  &__title {
    margin-right: 1em;
    font-size: 3rem;
    color: inherit;
  }
}
